
.googleColor{
    background-color: #e92c15;
}
.googleColor:hover{
    background-color: #d51801;
}
.outlookColor{
    background-color: #006ec0;
}
.outlookColor:hover{
    background-color: #005aac;
}
