/* @font-face {
    font-family: 'Sansman';
    src: url(../assets/fonts/enter-sansman/entsani.ttf);
} */

body {
    font-family: 'Jost*',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol' !important;
}

.font-secondary{
    font-family: 'Jost*',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol' !important;
}

.admin-content .container-fluid .row .col-lg-2.m-b-30 .card {
    background-color: #fff0;
    box-shadow: 0 2px 4px rgba(126, 142, 177, 0);
}

.admin-content .container-fluid .row .col-lg-2.m-b-30 .card:hover {
    box-shadow: 0 5px 12px rgba(126, 142, 177, 0);
}

.admin-content .container-fluid .row .col-lg-2.m-b-30 .card .card-body .row .col-md-12.p-t-15 svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.admin-content .container-fluid .row .col-lg-2.m-b-30 .card .card-body .row .col-md-12.p-t-15 svg { transition: all .2s ease-in-out; }

.admin-content .container-fluid .row .col-lg-2.m-b-30 .card .card-body .row:nth-child(2) .col-md-12 span {
    cursor: pointer;
    font-weight: 700 !important;
}

.LightMod .ColorMod1 {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: 0 2px 4px 0 rgba(42, 76, 133, 0);
}

.LightMod .ColorMod2 {
    background-color: #0e4c92 !important;
}
.LightMod .menu-name {
    color: white !important;
}
.menu .menu-name {
    font-size: 0.8rem !important;
}
.sub-menu .menu-name {
    font-size: 0.6rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Jost*',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol' !important;
}

.DarkMod .ColorMod {
    background-color: #131E3A !important;
}

.admin-header.lightMod {
    background-color: #95C8D8;
}

.admin-header.darkMod {
    background-color: #131E3A;
}

.admin-sidebar.lightMod {
    background-color: #4682b4;
}

.admin-sidebar.darkMod {
    background-color: #131E3A;
}

.menu-item.active.lightMod {
    background-color: #95C8D8
}

.menu-item.active.darkMod {
    background-color: #0e4c92;
}

@media (min-width: 992px)
{
    body.sidebar-pinned .admin-header,
    body.sidebar-pinned .admin-main
    {
        padding-left: 0px;
    }
}

.admin-sidebar {
    display: none;
}


.googleColor{
    background-color: #e92c15;
}
.googleColor:hover{
    background-color: #d51801;
}
.outlookColor{
    background-color: #006ec0;
}
.outlookColor:hover{
    background-color: #005aac;
}
.brandcolor1{
    background-color: #4682b4;
}
.brandcolor1:hover{
    background-color: #0e4c92;
}
.brandcolor1checkbox{
    background: #4682b4 !important;
}
